.group {
  position: relative;
  margin-bottom: 30px;
}

.ginput {
  font-size: 12px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
}

.ginput:focus {
  outline: none;
}

.glabel {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
}

.ginput:focus ~ .glabel, .ginput:valid ~ .glabel {
  top: -10px;
  font-size: 12px;
  color: #000000;
}

